[project]
	description = Vehicle Detection Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Guillaume Granié (Labonneguigue)
[access "refs/for/refs/*"]
	read = group user/Guillaume Granié (Labonneguigue)
	push = group user/Guillaume Granié (Labonneguigue)
	label-Code-Review = -2..+2 group user/Guillaume Granié (Labonneguigue)
	label-Verified = -1..+1 group user/Guillaume Granié (Labonneguigue)
	rebase = group user/Guillaume Granié (Labonneguigue)
	removeReviewer = group user/Guillaume Granié (Labonneguigue)
	submit = group user/Guillaume Granié (Labonneguigue)
[access "refs/heads/*"]
	read = group user/Guillaume Granié (Labonneguigue)
	create = group user/Guillaume Granié (Labonneguigue)
	push = +force group user/Guillaume Granié (Labonneguigue)
	pushMerge = group user/Guillaume Granié (Labonneguigue)
[access "refs/tags/*"]
	push = group user/Guillaume Granié (Labonneguigue)
	push = +force group user/Guillaume Granié (Labonneguigue)
